@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

a {
    color: #e7e7e7;
    text-decoration: none;
}
ol {
    margin-top: 0;
}
ul {
    padding-inline-start: 20px;
}
h3 {
    color: #e7e7e7;
}
img {
    /* スマホ表示ではObsidianの画像サイズ指定を無視する */
    @media (max-width: 1200px) {
        max-width: 100%;
    }
}
body {
    background-color: #2c2c2c;
    font-family: "Zen Kaku Gothic New", sans-serif;
}
code {
    white-space: pre-wrap;
}
strong {
    color: #f6cb20;
}
.container {
    margin: 0 auto;
    padding: 10px;
    width: 1200px;
    @media (max-width: 1200px) {
        width: 100%;
    }
}
.markdown {
    width:100%;
}
.content-body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 400;
    color: #dde3e5;
}
.content-body a {
    text-decoration: underline 1px #626262;
    text-underline-offset: 4px;
    color: #f6cb20;
}
.content-body p {
    margin: 0;
}
@media (max-width: 1200px) {
    .content-body {
        text-indent: 1em;
        font-size: 0.8em;
        letter-spacing: 0;
    }
    .content-body br {
        display: none;
    }
    .content-body p {
        margin: 1em 0;
    }
}
.category-today {
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 400;
}
.category-monologue {
    font-family: "Shippori Mincho", sans-serif;
    font-weight: 400;
}
.info-title {
    color: #e7e7e7;
}
.info-container {
    color: #e7e7e7;
    margin: 8px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    @media (max-width: 1200px) {
        font-size: 0.9em;
    }
}
.post-list {
    list-style: none;
    font-size: 90%;
    width: 100%;
    line-height: 1.5em;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 7px;
    padding-bottom: 14px;

    span {
        font-size: 90%;
        color: #cbcbcb;
    }
}
.article {
    width: 100%;
    padding: 20px;
    font-size: 110%;
    color: #e7e7e7;
    margin: 0 5px 4em 5px;
    @media (max-width: 1535px) {
        padding: 2px;
    }
}
.post-header {
    font-weight: 500;
}
.post-title {
    line-height: 100%;
    font-size: 2.25em;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    margin: 4px 0 12px 0;
    @media (max-width: 1200px) {
        font-size: 1.5em;
    }
}
.grid-container {
    width: 100%;
    margin: 10px 0;
}
.grid-item {
    width: 44%;
    float: left;
    text-align: center;
    border: 1px solid #e7e7e7;
    padding: 10px;
}
blockquote {
    margin: 10px;
    padding: 10px;
    background-color: #545454;
}
blockquote p {
    margin: 0 !important;
}
.tags-container {
    margin-bottom: 2em;
}
.tag-block {
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: #d5d5d5;
    color: #444 !important;
    padding: 2px 10px;
    margin-right: 6px;
    border-radius: 5px;
    font-size: 0.8em;
    white-space: nowrap;
}
.post-block {
    font-size: 0.9em;
    padding: 14px;
    border-bottom: 1px solid #505050;
}
.post-block-current {
    background-color: #cccccc;
    color: #333;
    padding: 24px 14px;
    width: 95%;

    span {
        color: #333;
    }
    .tag-block {
        background-color: #4f4f4f;
        color: #ccc !important;
    }
}
.list-title {
    margin-top: 2em;
    background-color: #a2a2a2;
    padding: 4px;
    font-size: 0.9em;
    font-weight: bold;
}
.footer-container {
    border-top: 1px solid #626262;
    font-size: 0.9em;
    padding-right: 20px;
}
.copyright {
    text-align: right;
    font-size: 0.9em;
    color: #fff;
    width: 100%;
}
.like-button {
    color: #fff;
}